/*Estilos Home*/
@font-face {
  font-family: 'Nexa bold';
  src: local('../fonts/Nexa Bold.otf'),
       url(../fonts/Nexa Bold.otf) format('otf');
  font-family: 'SmallTownSkyline';
  src: local('../fonts/SmallTownSkyline.ttf'),
       url(../fonts/SmallTownSkyline.ttf) format('truetype');
}


body{
	background-color: #fff;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
/*Header*********/

header{
	margin-top: -1px;
}

.header__left{
	overflow:hidden;
}

.header__right img{
	margin-top: 42px;
	max-width: 100%;
	height: auto;
	padding: 0 1px;
}

/*nav*/
nav{
	position: absolute;
	z-index: 1;
	width: 100%;
}

.logo{
	background-color: #fff;
	left:33%;
	-moz-transform: skewX(-18deg);
 	-ms-transform: skewX(-18deg);
  	-webkit-transform: skewX(-18deg);
  	transform: skewX(-18deg);
  	padding: 0.5em 1em;
  	padding-left: 12%;
  	position: absolute;
  	width: 70%;  	
  	z-index: 10;
  	-webkit-box-shadow: 12px 0px 3px -9px  #000;
	-moz-box-shadow: 12px 0px 3px -9px  #000;
	box-shadow: 12px 0px 3px -9px  #000;
}

.logo img{
	 -moz-transform: skewX(18deg);
	  -ms-transform: skewX(18deg);
	  -webkit-transform: skewX(18deg);
	  transform: skewX(18deg);
	  margin-left: 1em;
	  margin: 0px!important;
	  text-align: center;
}

.nav__contenido{
	background-color: #333333;
	height: 42px;
}

nav h4{
	color:#A8A8A8;
	font-size: 0.7em;
	font-family: 'Nexa bold';
	font-weight: 300;
	line-height: 1.2em;
	margin-left: -2em;
	margin: 10px 0;
	text-align: center;
}

nav h4 span{
	font-family: 'SmallTownSkyline';
	font-size: 2em;
	font-weight: 300;
}

nav ul{
	height: 42px;
	margin-left: -2.5em;
	margin: 0;
	padding:0;
}

nav ul li{
	display: inline-block;
	font-size: 'Myriad Pro';
	margin-right: 0.7em;
	height: 42px;
	padding: 11px 0.4em;
	vertical-align: middle;
}

nav ul li a{
	color:#fff;
	font-size: 0.8em;
}

nav ul li:hover, .activo{
	background-color: #a63c2e;
	color:#fff;
	-webkit-box-shadow: inset 0px -3px 5px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px -3px 5px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px -3px 5px 0px rgba(0,0,0,0.5);
}

nav ul li:hover a{
	color:#fff;
	text-decoration: none;
}

nav ul li:last-child{
	margin-right: 0.1em;
}

.socialmedia{
	margin-right: 0.7em;
	padding: 0;
}

.socialmedia img{
	padding-top: 3px;
}

.nohover:hover{
	background-color: transparent;
	-webkit-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.5);
	box-shadow: inset 0px 0px 0px 0px rgba(0,0,0,0.5);
}

.nohover{
	padding-top: 7px;
}

.input__corto{
	padding-top: 10px;
	width: 19%;
}

.input__corto input{
	border:0px;
	background: #717171 url('../img/search.png')5% 50%  no-repeat;
	width: 100%;
}

/*Middle********/
.middle__item{
	background-color: #fff;
	padding: 0.8em 0;
}

.stores__item{
	margin-right: 1px;
}

.stores__item img{
	padding: 1px;
	max-width: 100%;
	
}

.middle__right{
	border:3px solid #053361;
}

.middle__right img{
	max-width: 100%;
	height: auto;
}

.newsletter{
  	background-color: #333333;
  	width: 100%;
}

.newsletter__content{
	background-image: url('../img/newsletter.png');
	color:#fff;
	padding: 0.40em 0;  
	-webkit-padding:0.35em 0!important;	 
	-apple-padding:0.35em 0!important;	 
}
@media screen and (-webkit-min-device-pixel-ratio:0) {
	/* Reglas de Safari 3.0 y Opera 9  */

	.newsletter__content{
		padding: 0.35em 0;  
		 
	}
} 

@-moz-document url-prefix() {
	nav ul li{
		margin-right: 1.32em;
	}
	.newsletter__content{
		padding: 0.3em 0;  	 
	}
}

.newsletter h4{
	font-size: 0.7em;
	margin: 3px;
	padding-top: 3px;
}

.newsletter input{
	border:0px;
	background: #717171;
	margin-left: -1em;
	height: 20%;
	width: 40%;
}

.newsletter a{
	background-color: #a03021;
	border:1px solid #c53825;
	color:#fff;
	text-align: center;
	padding: 1px 3em;
	margin-left: 1em;
}

.apps{
	background-color: #fff;
	padding-left: 5em;
	padding-bottom: 2px;
	-moz-transform: skewX(18deg);
 	-ms-transform: skewX(18deg);
  	-webkit-transform: skewX(18deg);
  	transform: skewX(18deg);
  	position: absolute;
  	margin-left: -1em;
  	z-index: 10;
  	width: 100%;   	   
}

@-moz-document url-prefix() {
	.newsletter__content {
    	padding: 0.29em 0;
	}
	.apps{
		margin-top: -2px;  	 
	}
}

.apps img{
	margin-right: 2em;
	-moz-transform: skewX(-18deg);
 	-ms-transform: skewX(-18deg);
  	-webkit-transform: skewX(-18deg);
  	transform: skewX(-18deg);
	-webkit-backface-visibility: hidden;
}

/*Footer********/
.footer__container{
	background-color: #000000;
	color:#efefef;
	padding: 10px 0;
}

.footer__item ul{
	text-align: right;
}

.footer__item img{
	padding-left: 4em;
	padding-top: 2em;
}

.nombres{
	margin-left: -1.5em;
	text-align: left!important;
}

.nombres li h4{
	color:#b0b0b0;
}

.footer__container ul li{
	list-style: none;	
}

.footer__container ul li h4{
	font-size: 0.8em;
	line-height: 1em;
}

/********************************
------------DIRECTORIO-----------
*********************************/

.header--directorio{
	padding: 5em 0 2em 0;
}

/*.footer--bottom{
	position: fixed;
	bottom: 0;
	width: 100%;
}

.middle--bottom{
	position: fixed;
	bottom: 135.5px;
	width: 100%;
}*/

.middle--bottom .newsletter__content{
	padding: 0.42em 0!important;  	 
}

.directorio{
	padding:5em 0 2em 0;
}

.directorio--search{
  	margin-bottom: 2em;
 }

.search{
	border:1px solid #5F5F5F;
	-moz-transform: skewX(18deg);
 	-ms-transform: skewX(18deg);
  	-webkit-transform: skewX(18deg);
  	transform: skewX(18deg);
  	position: absolute;
  	height: 30px;
  	width: 100%;
}

.search__contenido{
	-moz-transform: skewX(-18deg);
 	-ms-transform: skewX(-18deg);
  	-webkit-transform: skewX(-18deg);
  	transform: skewX(-18deg);
  	position: absolute;
  	padding: 0 1em;
  	width: 100%;

}

.search__contenido h3{
	font-size: 1.2em;
	font-weight: 500;
	font-family: arial;
	padding-top: 6px;
	margin: 0;
}

.search__contenido h4{
	color:#595959;
	font-size: 0.9em;
	font-weight: 700;
	margin: 0;
	padding-top: 8px;
}

.search__contenido input{
	border:0px;
	background: #f7f7f7;
	margin-left: -1em;
	margin-top: 4px;
	padding-left: 5px;
	height: 20px;
	width: 80%;
}

.search__contenido input::-webkit-input-placeholder { color: #c7c7c7;font-size: 0.9em; }
.search__contenido input::-moz-placeholder { color: #c7c7c7;font-size: 0.9em; }
.search__contenido input:-ms-input-placeholder { color: #c7c7c7;font-size: 0.9em; }
.search__contenido input:-moz-placeholder { color: #c7c7c7;font-size: 0.9em; }

.selector__categoria{
	background-color: #A03021;
	height: 30px;
	margin-left: -3em;
	text-align: center;
	padding-top: 5px;
}

.selector__categoria select{
	background-color: #A03021;
	border:0px;
	color:#fff;
	text-align: center;
}

.categoria__title{
	padding-bottom:0.5em;
	padding-left: 0.5em;
}

.categoria__title span{
	color:#A03021;
	font-size: 1.1em;
	font-weight: 600;
	padding-top: 1px;
}

.categoria__item{
	margin-bottom: 22px;
	text-align: center;	
}

.categoria__item img{
	border:1px solid #c1c1c1;
	padding:15px 22px;
}

.categoria__item__title{
	background-image: url("../img/logos/title_item.jpg");
	background-size:cover;
	color:#fff;
	margin-left: 5%;
	margin-top: -8px;
	width: 90%;
}

.categoria__item__title h4{
	font-size: 0.8em;
	font-weight: 300;
	margin-left: 10px;
	padding:3px 0;
	text-align: left;
}

.categoria__item p{
	color:#777777;
	font-size: 0.7em;
	margin-top: -8px;
	margin-left: 8px;
	text-align: left;
}

.categoria__item a{
	color:#fff;
}

.cargar__mas{
	text-align: center;
}

.cargar__mas a{
	color:#A03021;
	display: block;
	font-size: 0.7em;
	font-weight: 700;
	margin-top: 2em;
	text-decoration: underline;
}


/********************************
------------DIRECTORIO-----------
*********************************/

.detalle__tienda{
	padding-top: 5em;
}

.detalle__tienda p{
	color:#787878;
	font-size: 0.9em;
	line-height: 1.2em;
	padding: 1em 0;
}

.back{
	color:#A03021;
	display: block;
	font-size: 0.8em;
	margin-bottom: 1em;
	margin-top: 1em;
	padding-left: 4em;
	text-decoration: underline;
}

.tienda__title{
	margin-top: -1em;
}

.tienda__title img{
	margin-top:-8px;
}

.tienda__title span{
	color:#A03021;
	font-size: 1.8em;
	font-weight: 600;
	padding-top: 5px;
}

.indoor__map{
	margin-top: 1em;
	margin-bottom: 5.4em;
}

.tienda__title--derecha img{
	margin-left: 2em;
}

.tienda__title--derecha h3{
	color:#1a1a1a;
	font-size: 2em;
	font-weight: 500;
	margin: 0;
	padding: 0;
}

.tienda__title--derecha p{
	color:#1a1a1a;
	font-size: 1.1em;
	font-weight: 600;
	padding-top: 1px;
}

.detalle__tienda--derecha ul{
	margin-left: -1.5em;
	margin-top: -1em;
}


.detalle__tienda--derecha ul li{
	color:#A0A0A0;
	font-size: 0.9em;
	font-weight: 500;
	list-style: none;
	margin-left: -1.5em;
}

.encuentras h3{
	font-size: 0.9em;
	font-weight: 600;
	margin-top: -0.2em;
}

.encuentras ul{
	margin-top: -5px;
}

.comparte{
	margin-left: -1em;
	margin-bottom: 5.5em;
}

.promo{
	margin-left: -1em;
}

.promociones__item h3{
	color:#1A1A1A;
	font-size: 1.4em;
	margin-top: 0.8em;
}

.promociones__item ul{
	margin-top: 0px;
}

.promociones__item ul li{
	color:#1a1a1a;
	font-weight: 600;
}

.btn__promociones{
	background-color: #A03021;
	border-radius: 3px;
	color:#fff;
	padding: 0.2em 3.3em;
}

.detalle__tienda--derecha .cargar__mas a{
	color:#A03021;
	display: block;
	font-size: 0.7em;
	font-weight: 700;
	margin-left: 12em;
	margin-top: 2em;
	text-decoration: underline;
}


/********************************
-----------MEDIA QUERIES---------
*********************************/
@media screen and (min-width:1440px) {
	.footer__container--grande{
		height: 22vh;
	}
}

@media screen and (min-width:1600px) {
	.footer__container--grande{
		height: 50vh;
	}
	.middle--bottom{
		margin-top: 0vh;
	}

}

@media screen and (min-width:1920px) {
	.middle--bottom{
		margin-top: 34vh;
	}
}