/*Estilos Home*/
body{
	background-color: #333333;
}

.container-full {
  margin: 0 auto;
  width: 100%;
}

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}
/*Header*********/
.header{
	height: 60vh;
	position: relative;background-color: #F9DA87;
}

.header__left{
	
	height: 60vh;
}

.header__right{
	background-color: lightgray;
	height: 60vh;
}

/*nav*/
nav{
	position: absolute;
	z-index: 1;
	width: 99%;
}

.logo{
	background-color: #fff;
	padding: 1.3em 1em;
	margin-left: 2em;
	-moz-transform: skewX(-18deg);
 	-ms-transform: skewX(-18deg);
  	-webkit-transform: skewX(-18deg);
  	transform: skewX(-18deg);
  	z-index: 10;
  	position: absolute;
  	width: 75%;
  	left:25%;
}

.logo h3{
	 -moz-transform: skewX(18deg);
	  -ms-transform: skewX(18deg);
	  -webkit-transform: skewX(18deg);
	  transform: skewX(18deg);
	  font-size: 1.5em;
	  margin: 0px!important;

}

.nav__contenido{
	background-color: #333333;
}

nav h4{
	color:#A8A8A8;
	font-size: 0.8em;
	margin-left: 4em;
}

nav ul li{
	display: inline-block;
	margin-right: 1em;
	padding-top: 1em;
}

nav ul li a{
	color:#fff;
	font-size: 0.8em;
}

/*Middle********/
.middle__item{
	background-color: lightyellow;
	height: 25vh;
}


/*Footer********/
.footer__container{
	background-color: #000000;
	color:#fff;
	height: 13.5vh;
}